{% extends "base.html" %}

{% block content %}
<div class="container mt-5" style="max-width: 400px;">

    <h3 class="mb-4 text-center">{{ role|capitalize }} Login</h3>

    <form action="/login/{{ role }}" method="POST" autocomplete="off">
        <input type="hidden" name="role" value="{{ role }}">

        <div class="mb-3">
            <label class="form-label">Username</label>
            <input name="username" class="form-control" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Password</label>
            <input name="password" type="password" class="form-control" required>
        </div>

        <button class="btn btn-primary w-100 mb-3">Login</button>
    </form>

    <!-- Only PATIENT can register -->
    {% if role == 'patient' %}
    <div class="text-center mt-2">
        <span>New user?</span><br>
        <a href="/register/patient" class="btn btn-warning mt-2">Register</a>
    </div>
    {% endif %}

</div>
{% endblock %}
